* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: linear-gradient(to right, #FF5722, #FF7043);
    color: white;
    padding: 10px 20px;
    
    a {
    color: inherit; 
    text-decoration: none; /* 去掉下划线 */
    }
}